@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  color: #ededed;
  background-color: #1f1f1fff;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  height: 5rem;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #1f1f1fff;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.navbar li {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}
.navbar li a {
  color: #fff;
}
.navbar a:hover {
  color: darkcyan;
}
.menu-btn {
  display: none;
  background-color: #fff;
}
.x-btn {
  background-color: #fff;
}
@media screen and (max-width: 888px) {
  .menu-btn {
    display: block;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 50vh;
  width: 250px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
}
.sidebar li {
  list-style: none;
  margin-top: 10px;
}
.sidebar a {
  width: 100%;
  background-color: transparent;
  margin-top: 10px;
  padding: 8px;
  color: #fff;
}

.article {
  width: 100vw;
  max-width: 60rem;
  margin: 0 auto;
  margin-bottom: 50px;
}
.article-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
  gap: 10px;
}
.blog-boxs {
  width: 80%;
  background-color: #ffffff;
  border: 1px solid #ececec;
  margin: 20px;
  float: left;
}

.blog-imgs {
  width: 100%;
  height: 500px;
}
.blog-imgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.blog-text {
  padding: 30px;
  display: flex;
}
.blog-text span {
  color: darkcyan;
}
.blog-text .blog-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #272727;
}
.blog-text .blog-title:hover {
  color: darkcyan;
  transition: all ease 0.3s;
}

.blog-texts {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.blog-texts span {
  color: darkcyan;
}
.blog-texts .blog-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #272727;
}

.blog-texts .blog-title:hover {
  color: darkcyan;
  transition: all ease 0.3s;
}

.blog-texts {
  color: #0f0f0f;
}
.blog-texts a:hover {
  color: darkcyan;
  transition: ease all 0.3s;
}

.blog-text {
  color: #0f0f0f;
}
.blog-text a:hover {
  color: darkcyan;
  transition: ease all 0.3s;
}
a {
  text-decoration: none;
  color: #0f0f0f;
}

.input-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 60rem;
}
.input-control.success input {
  border-color: #09c372;
}
.input-control.error input {
  border-color: #ff3860;
}
.input-control .error {
  color: #ff3860;
  font-size: 13px;
  height: 13px;
  text-align: start;
  width: 95%;
}
h1 {
  text-align: center;
}
.reaction {
  align-items: center;
}
.reaction h4 {
  text-align: center;
}
.likes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}
.likes i {
  cursor: pointer;
}

.flexSB {
  display: flex;
  justify-content: space-between;
}
.Newsletter {
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 10px 20px;
  background-color: darkcyan;
}
.Newsletter .left {
  max-width: 400px;
}
.Newsletter .left h1 {
  color: #fff;
  font-size: 28px;
  margin-top: 50px;
}
.Newsletter .left h4 {
  color: #fff;
  margin-top: 10px;
}
.Newsletter .right {
  width: 500px;

  justify-content: center;
  align-items: center;
}
.Newsletter .right input {
  padding: 10px;
  width: 50%;
  background-color: #fff;
  margin: 50px 0px;
  border: none;
}
.Newsletter .right i {
  padding: 0 13px;
}
footer {
  width: 100vw;

  max-width: 75rem;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 100px 0;
}
footer .container {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 4fr;
  grid-gap: 30px;
}
footer .logo span {
  color: #1eb2a6;
  font-size: 18px;
}
footer .logo p {
  color: gray;
  padding: 30px 0 15px 0;
}
footer .logo .icon {
  color: #fff;
  margin-right: 10px;
}
footer h3 {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 24px;
}
footer ul li {
  margin-bottom: 20px;
  text-decoration: none;
  list-style: none;
}
footer .links li::before {
  content: "⟶";
  color: #1eb2a6;
  margin-right: 5px;
}
footer .links li a {
  color: gray;
  font-size: 18px;
}
footer .links li a:hover {
  color: #1eb2a6;
}
footer .items {
  margin-bottom: 30px;
}
footer .items img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
  object-fit: cover;
}
footer .items span,
footer .items i {
  font-size: 12px;
  color: #1eb2a6;
  margin-right: 5px;
  text-transform: capitalize;
}
footer h4 {
  font-weight: 400;
  margin-top: 5px;
}
footer .box {
  display: inline;
  padding: 0;
}
footer .last ul li {
  display: flex;
  margin-bottom: 50px;
}
footer .last i {
  width: 60px;
  font-size: 20px;
  color: #1eb2a6;
}
.legal {
  text-align: center;
  padding: 50px 0;
  color: white;
}
.legal p {
  font-size: 15px;
}
.legal i {
  color: #1eb2a6;
}

@media (max-width: 800px) {
  footer .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  footer .logo p {
    font-size: 15px;
  }
  footer .logo h1 {
    font-size: 24px;
  }
  .Newsletter .left h1 {
    font-size: 20px;
  }
}
@media (max-width: 700px) {
  footer .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
}
@media screen and (max-width: 463px) {
  .Newsletter .left h1 {
    font-size: 15px;
  }
  .Newsletter .left h1 h4 {
    font-size: 1200px;
  }
}
marquee {
  font-size: 28px;
  color: darkcyan;
}
@media screen and (max-width: 980px) {
  input[type="text"],
  input[type="email"] {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    width: 95%;
    margin-top: 20px;
  }

  form {
    width: 70%;
    border: 1px solid red;
  }
}

#commentContainer {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: scroll;

  padding: 10px;
  height: 50vh;
}
#commentContainer::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.commentContent {
  border: 1px solid #ededed;
  padding: 10px;
  width: 100%;
  margin: 0px auto;
  border-radius: 12px;
}
.user {
  color: white;
  margin: 5px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.email {
  color: darkcyan;
  font-size: small;
}
.comm {
  border: 2px solid white;
  padding: 20px;
}
.prof {
  float: right;

  margin-top: 5px;
}
.reply {
  margin: 5px;
  padding: 5px;

  cursor: pointer;
}
.like {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: large;
}
#createForm {
  display: none;
}
.edit {
  display: none;
}
.readmore {
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;

  background-color: transparent;
  color: #050801;
}
.readmore:hover {
  background-color: #1eb2a6;
  color: white;
}

.comment-container {
  max-width: 60rem;
  margin: 0px auto;

  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.feedback {
  height: 50vh;
  width: 50%;
}
#commentForm {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ececec;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
}
input {
  width: 95%;
  padding: 8px;
  border-radius: 3px;
}
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}
input[type="submit"] {
  width: 100%;
  border-radius: 3px;
  background-color: darkcyan;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}
legend {
  font-weight: 600;
  color: #0f0f0f;
}
.article-content {
  font-size: 1rem;
  line-height: 1.6;
  padding: 10px;
  color: black;
}

.socialMedia a {
  margin: 0;
  border-radius: 50%;
  box-sizing: border-box;
  background: #fff;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0);
  color: var(--color);
  font-size: 2.5rem;
  -webkit-box-reflect: below 5px
    linea-gradient(to bottom, tgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
.socialMedia a:hover {
  background: var(--color);
  color: #050801;
  box-shadow: 0 0 10px var(--color), 0 0 25px var(--color),
    0 0 25px var(--color), 0 0 25px var(--color), 0 0 25px var(--color);
}
@media screen and (max-width: 480px) {
  #contactpage {
    width: 100vw;
    max-width: 65rem;
    margin: 0 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.flexSB {
  display: flex;
  justify-content: space-between;
}
.Newsletter {
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 10px 20px;
  background-color: darkcyan;
}
.Newsletter .left {
  max-width: 400px;
}
.Newsletter .left h1 {
  color: #fff;
  font-size: 28px;
  margin-top: 50px;
}
.Newsletter .left h4 {
  color: #fff;
  margin-top: 10px;
}
.Newsletter .right {
  width: 500px;

  justify-content: center;
  align-items: center;
}
.Newsletter .right input {
  padding: 10px;
  width: 50%;
  background-color: #fff;
  margin: 50px 0px;
  border: none;
}
.Newsletter .right i {
  padding: 0 13px;
}
footer {
  width: 100vw;
  height: calc(100vh - 10rem);
  max-width: 75rem;
  margin: 0 auto;
  padding: 50px 0;
}
footer .container {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 4fr;
  grid-gap: 30px;
}
footer .logo span {
  color: #1eb2a6;
  font-size: 18px;
}
footer .logo p {
  color: gray;
  padding: 30px 0 15px 0;
}
footer .logo .icon {
  color: #fff;
  margin-right: 10px;
}
footer h3 {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 24px;
}
footer ul li {
  margin-bottom: 20px;
  text-decoration: none;
  list-style: none;
}
footer .links li::before {
  content: "⟶";
  color: #1eb2a6;
  margin-right: 5px;
}
footer .links li a {
  color: gray;
  font-size: 18px;
}
footer .links li a:hover {
  color: #1eb2a6;
}
footer .items {
  margin-bottom: 30px;
}
footer .items img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
  object-fit: cover;
}
footer .items span,
footer .items i {
  font-size: 12px;
  color: #1eb2a6;
  margin-right: 5px;
  text-transform: capitalize;
}
footer h4 {
  font-weight: 400;
  margin-top: 5px;
}
footer .box {
  display: inline;
  padding: 0;
}
footer .last ul li {
  display: flex;
  margin-bottom: 50px;
}
footer .last i {
  width: 60px;
  font-size: 20px;
  color: #1eb2a6;
}
.legal {
  text-align: center;
  padding: 50px 0;
  color: white;
}
.legal p {
  font-size: 15px;
}
.legal i {
  color: #1eb2a6;
}

@media (max-width: 800px) {
  footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
  footer .logo p {
    font-size: 15px;
  }
  footer .logo h1 {
    font-size: 24px;
  }
  .Newsletter .left h1 {
    font-size: 20px;
  }
}
@media (max-width: 700px) {
  footer .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}
@media screen and (max-width: 463px) {
  .Newsletter .left h1 {
    font-size: 15px;
  }
  .Newsletter .left h1 h4 {
    font-size: 1200px;
  }
  footer .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
}
.sub {
  padding: 9px;
  cursor: pointer;
}

.loaders {
  position: relative;
  height: 500px;
  margin-bottom: 10px;
  border: 1px solid #d3d3d3;
  padding: 15px;
  background-color: #e3e3e3;
  overflow: hidden;
  width: 100vw;
  max-width: 60rem;
  margin: 50px auto;
  margin-bottom: 50px;
}

.loaders:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    110deg,
    rgba(227, 227, 227, 0) 0%,
    rgba(227, 227, 227, 0) 40%,
    rgba(227, 227, 227, 0.5) 50%,
    rgba(227, 227, 227, 0) 60%,
    rgba(227, 227, 227, 0) 100%
  );
  animation: gradient-animation_2 1.2s linear infinite;
}

.loaders .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.loaders .wrapper > div {
  background-color: #cacaca;
}

.loaders .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.loaders .button {
  display: inline-block;
  height: 32px;
  width: 75px;
}

.loaders .line-1 {
  position: absolute;
  top: 11px;
  left: 58px;
  height: 10px;
  width: 100px;
}

.loaders .line-2 {
  position: absolute;
  top: 34px;
  left: 58px;
  height: 10px;
  width: 150px;
}

.loaders .line-3 {
  position: absolute;
  top: 57px;
  left: 0px;
  height: 10px;
  width: 100%;
}

.loaders .line-4 {
  position: absolute;
  top: 80px;
  left: 0px;
  height: 10px;
  width: 92%;
}

@keyframes gradient-animation_2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.loader {
  position: relative;
  width: 240px;
  height: 130px;
  margin-bottom: 10px;
  border: 1px solid #d3d3d3;
  padding: 15px;
  background-color: #e3e3e3;
  overflow: hidden;
}

.loader:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    110deg,
    rgba(227, 227, 227, 0) 0%,
    rgba(227, 227, 227, 0) 40%,
    rgba(227, 227, 227, 0.5) 50%,
    rgba(227, 227, 227, 0) 60%,
    rgba(227, 227, 227, 0) 100%
  );
  animation: gradient-animation_2 1.2s linear infinite;
}

.loader .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.loader .wrapper > div {
  background-color: #cacaca;
}

.loader .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.loader .button {
  display: inline-block;
  height: 32px;
  width: 75px;
}

.loader .line-1 {
  position: absolute;
  top: 11px;
  left: 58px;
  height: 10px;
  width: 100px;
}

.loader .line-2 {
  position: absolute;
  top: 34px;
  left: 58px;
  height: 10px;
  width: 150px;
}

.loader .line-3 {
  position: absolute;
  top: 57px;
  left: 0px;
  height: 10px;
  width: 100%;
}

.loader .line-4 {
  position: absolute;
  top: 80px;
  left: 0px;
  height: 10px;
  width: 92%;
}

@keyframes gradient-animation_2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
